h1{
  color: black;
}

a: link {
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color:grey;
}
a:active{
    color: red;
}

.Navigation{
    float: left;
    text-align: left;
    padding: 5px;
    font-size: 20px
}
.center{
display: block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}
.audit heading{
  text-align:center;
